* {  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {overflow: hidden;}
::-webkit-scrollbar{width: 8px;height: 12px;}
::-webkit-scrollbar-track{background: none;}
::-webkit-scrollbar-thumb{background: #bdbbbb;}
.cust {margin-top: 50px;margin-bottom: 50px;}
.cust-line {width: 40%;height: 1px;background: #776050;margin-top: 30px;}
h2 {
    text-align: center;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.39),-2px -2px 13px rgba(0, 0, 0, 0.45);
    font-size: 35px;
    font-family: 'Open Sans', serif;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 20px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}
p {font-family: 'Open Sans', serif;letter-spacing: 0.2em;text-transform: capitalize;text-align: center;}
.p-cust-5 {display:inline-block;padding-right:8px;margin-top: 55px;text-align: center}
.border-1,.border-2,.border-3,.border-4 {
    position: absolute;
    width: 100px;
    height: 100px;
}
.border-1 {
    top: 0;
    left: 0;
    border-top: 1px solid #776050;
    border-left: 1px solid #776050;
}
.border-2 {bottom: 0;left: 0;border-bottom: 1px solid #776050;border-left: 1px solid #776050;}
.border-3 {top: 0;right: 0;border-top: 1px solid #776050;border-right: 1px solid #776050;}
.border-4 {bottom: 0;right: 0;border-bottom: 1px solid #776050;border-right: 1px solid #776050;}
.cust-2 {
    height: 130px;
    background-image: url(../images/img-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left:7px;
    padding-right:7px;
    color: #fff;
    text-align: center;
}
button {
    background: none;
    border-bottom: 1px solid #505050;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
    width: 100px;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    margin-top: 25px;
    color: #bd8a4b;
}
/*start header*/
.start-logo {
    width: 100%;
    height: 600px;
    background-image:url(../images/img-12.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}
/*navbar*/
.start-logo .navbar-default {background: none;border: none;}
.start-logo .navbar-fixed-top {background: none;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {background: none;color: #b2986b;}
.start-logo .navbar-nav {float: none;margin: 0 auto;display: table;}
.start-logo .nav > li {padding-left: 20px;padding-right: 20px;}
.start-logo .navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans', serif;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: capitalize;   
}
.navbar-nav .effect,
.start-logo .container .row h2{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.start-logo .navbar-header button {width:auto;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {background-color: #000;}
.start-logo .center-block {margin-top: 150px;width: 250px;}
.logo-container {height: 186px;overflow: hidden;position: relative;margin: auto;}
.logo-container div {
    width: 125px;
    height: 125px;
    border: 1px solid #EAcAcA;
    position: absolute;
    transform: rotate(135deg);
    left: 50px;
    top: 30px;   
}
.logo-container .sq-1 {
    left: 95px;
    padding: 5px;
    border: 1px solid #a5928f;
    z-index: 1;
    box-shadow: 10px 10px 10px 5px rgba(2, 2, 2, 0.5), 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.logo-container .sq-3{left: 45px;}
.logo-container .sq-4{left: 40px;}
.logo-container .sq-5{left: 35px;}
.logo-container .sq-6 {width: 125px;height: 125px;top: 30px;left: 30px;}
.start-logo .container .row h2 {
    color: #c3b4b4;
    letter-spacing: 0.7em;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;   
}
.start-logo .container .row .cust-line {width: 40%;height: 1px;background: #776050;margin-top: 0;}
/*end header*/
/*start slider*/
.abov {margin-top: -105px;}
.slider-container {position: relative;padding: 10px;}
.slider-container .slider-container-2 .carousel-indicators li {
    background-color: #000;
    border: none;
    border-radius: 0px;
    transform: rotate(133deg);
    margin-left: 2px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
}
.slider-container .slider-container-2 .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #fff;
    padding: 0;
    transform: rotate(90deg);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;    
}
.slider-container-2 .carousel-caption {
    bottom: 75px;
    padding-bottom: 0;
    color: #fdfdfd;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 13px rgb(0, 0, 0),-2px -2px 13px rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Open Sans', serif;
}
/*end container*/
/*start portfolio*/
.port .port-cust-2 {height: 380px; padding: 5px;overflow: hidden;position: relative;}
.port img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0.80;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    transition: all 0.4s;
}
.port img:hover {
    opacity: 0.90;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*end portfolio*/
/*start our team*/
.team .container-cust-2 {width: 90%;margin: auto;}
.team .man-1, .man-2 {position:relative;padding:25px;overflow: hidden;}
.team h3 {
    text-align: left;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.39),-2px -2px 13px rgba(0, 0, 0, 0.45);
    font-size: 20px;
    font-family: 'Open Sans', serif;
    color: #417680;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}
.team p {letter-spacing: 0.1em;text-align: left;}
.team img {width: 100%;}
.team .man-1 p, .man-2 p {letter-spacing: 0.1em;}
.team .dev {height: 510px;float: left;padding: 10px;}
.team .dev h3 {margin-top: 10px;}
.team ul li {font-family: 'Open Sans', serif;letter-spacing: 0.1em;text-transform: capitalize;}
.team .dev button {margin: 0 auto;display: block;border-bottom: 1px solid #777;color: #bd8a4b;}
.team .cust-2 {height: 125px;}
/*end team*/
/*start services*/
.serv {
    width: 100%;
    background-image:url(../images/img-12.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}
.serv .serv-cust {background-color:#fff;margin-bottom:50px;padding:10px;text-align: center;}
.serv .serv-cust div {padding:4px;margin-bottom: 10px;}
.serv .serv-cust .serv-desc {overflow: hidden;}
.serv .serv-cust .serv-desc .fa {
    display: table;
    margin: 10px auto;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #ededed, -3px -3px 10px #ededed;
    overflow: hidden;
    padding: 20px;
    color: #cb8a4b;
}
.serv p {padding: 5px;}
.serv .p-cust-2 {
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.39),-2px -2px 13px rgba(0, 0, 0, 0.45);
    color: #082d33;
    border-top: 0;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    line-height: 30px;
    margin-bottom: 5px;
}
.serv .serv-cust .serv-desc .p-cust {
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 0;
    border-left: 1px solid #ededed;
    letter-spacing: 0.1em;
    line-height: 23px;
}
.serv .p-cust-3 {color: #082d33;line-height: 30px;margin-bottom: 5px;}
.serv .p-cust-4 {
    display:inline-block;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.39),-2px -2px 13px rgba(0, 0, 0, 0.45);
    color: #082d33;
    padding: 5px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top:20px;
    font-size:20px;
}
.serv .client {
    width: 180px;
    height: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #ededed, -3px -3px 10px #ededed;
    padding: 0 !important;
    margin: auto;
}
/*end services*/
/*start projects*/
.pro-cust {text-align: center;margin-bottom: 0px;}
.pro-cust .pro-cus-2 {height: 380px; padding: 0;overflow: hidden;position: relative;background-color:#0fe7ed;}
.pro-cust .pro-cus-2 img {z-index: 1;position: absolute;height: 100%;width: 100%;}
.pro-cust .pro-cus-2:hover img { opacity: 0.5;}  
.pro-cust .pro-cus-2 img {cursor: pointer;}
.pro-cust .pro-cus-2 img,
.pro-cus-2 .pro-cust-3,
.pro-cust .pro-cus-2:hover .pro-cust-3 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;         
}
.pro-cus-2 .pro-cust-3 {
    width: 100%;
    padding: 5px;
    bottom: 20px;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    display: none;
}
.pro-cust .pro-cust-3 span {
    padding-left: 10px;
    float: left;
    font-family: 'Open Sans', serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
.pro-cust .pro-cus-2:hover .pro-cust-3 {display: block;}
/*end project*/
/*start about*/
.about{
    width: 100%;
    background-image:url(../images/img-12.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
    padding: 10px 0 40px 0;
}
.about h2 {
    color: #cb8a4b;
    letter-spacing: 0.1em;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 15px;
}
.about p {color: #fff;}
.about h3 {color: #cb8a4b;letter-spacing: 0.1em;text-transform: capitalize;}
.about .client-cont {
    overflow: hidden;
    border: 1px solid rgba(119, 119, 119, 0.54);
    padding: 8px;
}
.about .client-cont .client-right {padding: 0;overflow: hidden;background-color: azure;}
.about .client-cont .client-right img {height: 300px;width:100%;}
.about .client-cont .client-left {
    height: 100%;
    overflow: hidden;
    padding: 8px 8px 8px 30px;
    background-color: rgba(0, 0, 0, 0.76);   
}
.about .client-cont .client-left h3 {font-size: 17px;}
.about .client-cont .client-left h3,
.about .client-cont .client-left p {text-align: left;float: left;}
.about .client-cont .client-left .client-name {
    float: left;
    padding: 8px;
    box-shadow: 3px 3px 22px rgba(237, 237, 237, 0.3), -3px -3px 22px rgba(237, 237, 237, 0.3);
}
.about .carousel {box-shadow: 3px 3px 10px #0a0a0a, -3px -3px 10px #0a0a0a;}
/*end about*/
/*start contact us*/
.message {
  color:#777;
  font-family: 'Open Sans', serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #777;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:49.8%;
  box-sizing: border-box;
  outline:0;
}
.message2 {width: 100%;padding: 13px;margin-bottom: 15px;}
.message3 {width: 100%;}
textarea {height: 150px;line-height: 150%;resize:vertical;}
[type="submit"] {
    font-family: 'Open Sans', serif;
    width: 100%;
    background:#777;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:15px;
    font-weight:700;
    text-transform: capitalize;
    letter-spacing: 0.1em;
}
[type="submit"]:hover { background:#666; }
.contact .cust-line {margin-bottom: 30px;}
.contact #map {width: 100%;height: 300px;}
/*end contact*/
/*start footer*/
footer {
    width: 100%;
    background-image:url(../images/img-12.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}
footer p { color:#c5c5c5;text-align: left;}
footer .opacity {width: 94%;background-color: rgba(0, 0, 0, 0.43);margin: 50px auto;overflow: hidden;}
.footer-left {padding:10px;}
footer .opacity .footer-left div {padding: 10px;}
footer h4,footer a {
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.39),-2px -2px 13px rgba(0, 0, 0, 0.45);
    font-size: 16px;
    font-family: 'Open Sans', serif;
    color: #a89067;
    text-transform: capitalize;
    margin-bottom: 6px;
}
footer .opacity .footer-left div ul {padding: 0;}
footer .opacity .footer-left div ul li {list-style-type: none;}
footer .opacity .footer-left div ul li a {color: #c5c5c5;font-size: 14px;}
footer .opacity .footer-center {padding:10px;overflow: hidden;}
footer .opacity .footer-center img {width: 100%;height: 100%;}
footer .opacity .footer-right {padding:10px;}
footer .opacity .footer-right .follow a {text-shadow: none;}
footer .opacity .footer-right .follow .fa {
    color: #c5c5c5;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #777;
}
.loading {
    background-color: rgb(170, 71, 32);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 400px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*media screen*/
@media(max-width:874px)
{
    .start-logo .nav > li {padding: 0 10px 0 10px;}
}
@media(max-width:768px)
{   
    .start-logo .container .row h2,
    .slider-container-2 .carousel-caption, {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    .start-logo .container .row h2 {letter-spacing: 0.1em;background-color: rgba(0, 0, 0, 0.53);}
    .slider-container-2 .carousel-indicators {margin-bottom: 0;}
    .about .carousel-indicators {margin-bottom: -10px;}
    .slider-container-2 .carousel-caption {
        margin-bottom: 0;
        letter-spacing: 0.1em;
        font-size: 15px;
        bottom: 38px;
    }
    h2,h3 {font-size: 25px;letter-spacing: 0.1em;}
    p {letter-spacing: 0.1em;}
    .p-cust-3 {letter-spacing: 0em;margin-top: 25px;}
    .cust {margin: 30px 0 30px 0;}
    .cust-2 p {margin-top: 20px;} 
    .cust-2 button {margin-top: 10px;} 
    .serv .p-cust-5 {padding: 7px;line-height: inherit;}
    .about h2 {font-size: 17px;}
    .about p {line-height: 17px;}   
    .contact .message {width: 100%;}
}





